.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  .details{
    width: 25rem;
  }
  
  .login{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  