
<header>
    <div class="container">
      <a routerLink="/home" class="logo">Hungry Hitch!</a>
      <nav>
        <ul>
          <li *ngIf="!isLoggedIn">
            <a routerLink="/authentication">Login</a>
          </li>
          <li *ngIf="isLoggedIn" class="menu-container">
            <a routerLink="/home">{{userData.name}}</a>
            <div class="menu">
              <a routerLink="/profile">Profile</a>
              <a routerLink="/orders">Orders</a>
              <a role="button" (click)="logout()">Logout</a>
            </div>
          </li>
          <!-- <li>
            <a routerLink="/cart-page">
              Cart <span>5</span>
            </a>
          </li> -->
        </ul>
      </nav>
    </div>
  </header>
  