
<div class="row">
    
    <div class="col-md-10" style="margin-top:5%">
    
    <div class="card card-secondary">
    <div class="card-header">
    <h3 class="card-title">Add Food Item</h3>
    </div>
    
    
    <form [formGroup]="foodAddForm" >
    <div class="card-body">
    <div class="form-group">
    <label for="exampleInputName">Item Name</label>
    <input formControlName="name" type="text" class="form-control" id="exampleInputName" placeholder="Enter Food Item Name">
    <div *ngIf="foodAddForm.controls.name.invalid && (foodAddForm.controls.name.dirty || foodAddForm.controls.name.touched)"
    class="alert alert-danger mt-1">

    <div *ngIf="foodAddForm.controls.name.errors?.['required']">
        Food Item Name is required.
    </div>
    </div>
    </div>
    <div class="form-group">
    <label for="exampleInputPrice">Price</label>
    <input formControlName="price" type="number" min="2"  class="form-control" id="exampleInputPrice" placeholder="Price">
    <div *ngIf="foodAddForm.controls.price.invalid && (foodAddForm.controls.price.dirty || foodAddForm.controls.price.touched)"
    class="alert alert-danger mt-1">

    <div *ngIf="foodAddForm.controls.price.errors?.['required']">
        Food Item Price is required.
    </div>
    <div *ngIf="foodAddForm.controls.price.errors?.['min']">
        Food Item Price must not be lesser than 2.
    </div>
    </div>
    </div>
    <div class="form-group">
        <label for="exampleInputCookTime">Cook Time</label>
        <input formControlName="cookTime" type="text" class="form-control" id="exampleInputCookTime" placeholder="Cook Time">
        <div *ngIf="foodAddForm.controls.cookTime.invalid && (foodAddForm.controls.cookTime.dirty || foodAddForm.controls.cookTime.touched)"
        class="alert alert-danger mt-1">
    
        <div *ngIf="foodAddForm.controls.cookTime.errors?.['required']">
            Cook Time is required.
        </div>
        </div>
    </div>
  <div class="form-group">
    <label >Resturant</label>
    <select formControlName="resturant" class="form-control">
      <option [ngValue]="resturant"  *ngFor="let resturant of resturantList;let i=index">{{resturant.name}}</option>
  
    </select>
    </div>
    <div class="form-group">
      <label>Category</label>
      <select formControlName="categories"  id="categories" name="categories" (change)="onSelectedCategoriesChange()" class="select2 fields-select" multiple="multiple" data-placeholder="Select a food category" style="width: 100%;">
        <option  *ngFor="let category of categoryList;let i=index" [ngValue]="category.name">{{category.name}}</option>
    
      </select>
      </div>
    <div class="form-group">
        <label for="image">Image</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="image" formControlName="image" (change)="handleFileInput($event)">
          <label class="custom-file-label" for="image">{{fileToUpload ? fileToUpload.name : "Choose File"}}</label>
        </div>
        <div *ngIf="foodAddForm.controls.image.invalid && (foodAddForm.controls.image.dirty || foodAddForm.controls.image.touched)"
             class="alert alert-danger mt-1">
          <div *ngIf="foodAddForm.controls.image.errors?.['required']">
            Image is required.
          </div>
        </div>
      </div>
    </div>
    
    <div class="card-footer">
    <button [disabled]="foodAddForm.invalid" (click)="addFood()"  type="submit" class="btn btn-secondary">Submit</button>
    </div>
    </form>
    </div>
    </div>
    </div>
